.nav-item{
    cursor: pointer;
}
.nav-treeview{
    margin-left: 25px;
}
.link-active{
    color: cornflowerblue !important;
}
.right{
    text-align: right !important;
}
.left{
    text-align: left !important;
}
.center{
    text-align: center !important;
}